<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="2.2.3" targetFramework="net45" />
  <package id="FSharp.Data.SqlClient" version="1.7.2" targetFramework="net45" />
  <package id="IntelliFactory.Reactive" version="3.2.9.38" targetFramework="net45" />
  <package id="Microsoft.Owin" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Diagnostics" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.FileSystems" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net45" />
  <package id="Microsoft.Owin.StaticFiles" version="3.0.1" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
  <package id="System.Data.Common" version="4.0.0-beta-22816" targetFramework="net45" />
  <package id="System.Data.SqlClient" version="4.0.0-beta-22816" targetFramework="net45" />
  <package id="System.Globalization" version="4.0.10-beta-22816" targetFramework="net45" />
  <package id="System.IO" version="4.0.10-beta-22816" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.20-beta-22816" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.0.10-beta-22816" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22816" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.0.10-beta-22816" targetFramework="net45" />
  <package id="WebSharper" version="3.2.10.172" targetFramework="net45" />
  <package id="WebSharper.Formlets" version="3.2.8.43" targetFramework="net45" />
  <package id="WebSharper.Owin" version="3.2.9.87" targetFramework="net45" />
  <package id="WebSharper.Piglets" version="3.2.9.241" targetFramework="net45" />
  <package id="WebSharper.UI.Next" version="3.2.7.134" targetFramework="net45" />
</packages>